body {
	background: #555;
}

table {
	border:2px;
	border-collapse: collapse;
}

.header{
	background-color: #999;
}

.link {
	width:auto;
	padding:3px 0 3px 10px;
	color:#fd0;
	background-color:#777;
	font-weight: bold;
	text-shadow: 0px 0px 1px #ffffff,
	  0px 0px 4px #ffd700;
}

.about {
	width:auto;
	padding:2px 2px 2px 2px;
	color:#fd0;
	font-weight: bold;
	text-shadow: 0px 0px 1px #ffffff,
	  0px 0px 4px #ffd700;
	border: medium solid #ff3700;
}

.par {
	width:auto;
	transform: skew(-10deg);
	-webkit-transform: skew(-10deg);
	-moz-transform: skew(-10deg);
}

.linkd {
	padding:3px 0 3px 10px;
	color: #ffff33;
	background-color: #ffffff;
	background-image: url(img/linkbar.png);
	font-weight: bold;
	text-shadow: 2px 2px 0px #ff3333;
}

.acbtn {
	width:680px;
	padding:3px 0 3px 10px;
	font-size: 1.2em;
	font-weight: bold;
}

.acdetail {
	background: #fff;
	width:650px;
}




